#container{
    width:960px;
    margin: 0px auto;
    padding: 0px;
    font-family: Arial;
    font-size:12px;
    /*background-color: #007cc0;*/
}

#topbar{
    width:100%;
}

#logo{
    margin-left:20px;
    margin-right:260px;
    margin-top:20px;
    margin-down:20px;
    float:left;
}

#sidelogo{
    margin-left:135px;
    height: 13px;
}

#selectSearch{
    margin-top:25px;
    margin-down:34px;
    height:20px;
    float:left;
}

select {
    background: transparent;
    float:left;
    width: 268px;
    font-size: 12px;
    border: 1;
    height:20px;
    border-radius: 0;
    padding-left:8px;
    -webkit-appearance: none;
}

#country{
    float: left;
}

#language{
    float: left;
}

#country select{
    background-image:url("../images/dropdown-logo.png");
    background-repeat: no-repeat;
    background-position: right center;
    width:130px;
    margin-right: 8px;
    border-color:#333333;
}

#language select{
    width: 80px;
    background-image:url("../images/dropdown-logo.png");
    background-repeat: no-repeat;
    background-position: right center;
    margin-right:30px;
    border-color:#333333;
}
.clear{
    clear: both;
}

#search{
    float:left;
    height:22px;
    margin-right:20px;
    padding: 0px;
}

#tfnewsearch{
    float:left;
    height:20px;
}

#searchbar{
    float:left;
    padding-left:8px;
    height:16px;
    border:1px solid;
    border-color:#333333;
}
#searchimage{
    height:20px;
}
/*done with the first bar*/

#menu {
    margin-top:20px;
    float:left;
    width:100%;
    font-family:Gotham Medium;
    font-size:12px;
}

#menu ul{
    margin:0px;
    padding:0px;
    float:left;
    background-color:#f2f1f2;
    height:30px;
}

#menu li{
    list-style:none;
    float:left;
    padding: 0.65em 33px 0.65em 33px;
}


#menutwo {
    margin-top:20px;
    float:left;
    width:100%;
    font-family:Gotham Medium;
    font-size:12px;
}

#menutwo ul{
    margin:0px;
    padding:0px;
    float:left;
    background-color:#ffffff;
    height:33px;
}

#menutwo li{
    list-style:none;
    float:left;
    padding: 0.775em 66px 0.775em 66px;
}



.current{
    background-color:#007cc0;
    color:#ffffff;
}
.currentstep{
    background-color:#007cc0;
    color:#ffffff;
    background-image:url("../images/resStepDivider.gif");
    background-repeat: no-repeat;
    background-position: left center;

}
.nextstep{
    background-image:url("../images/resStepDividerActive.gif");
    background-repeat: no-repeat;
    background-position: left center;
}

.passed{
    background-color:#e2f0f5;
    color:#007cc0;
}








